@import url('https://fonts.googleapis.com/css2?family=Asap:ital@1&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Asap', sans-serif;
    
}
html,body{
    overflow-x: hidden;
}


.flex{
    display: flex;
}


header{
    height: 65px;
}

header ul li{
    font-size: 14px;
    display: inline-block;
    padding: 27px 20px 28px;
    font-weight: 700;
    letter-spacing: .3px;
    
}
header ul span{
    font-size: 66%;
    margin: 2px -13px;
    color: #ff0833;
    font-weight: 600;
    text-transform: uppercase;
}

header ul li a{
    text-decoration: none;
    padding-bottom: 12px;
    color: rgb(6, 6, 115);
    text-transform: uppercase;
}


header ul li a:hover{
     border-bottom-color: #f26a10 ;
    border-bottom-style: solid;
    border-bottom-width: 5px;
    transition: left .2s ease-out,border-color .5s ease-in;
}


.left img{
    width: 59px;
    height: 35px;
    margin: 17px 29px;
}

header div input[type="search"]{
    margin-top: 15px;
    margin-left: 138px;
    padding: 0 9px;
    height: 38px;
    width: 430px;
    border-radius: 5px;
    border: 2px solid #c3c3c3b8;
}

header div h2{
    font-size: 13px;
    padding: 13px; 
    margin-left: 48px;
}
header div h2 a{
    text-decoration: none;
    color: rgb(6, 6, 115);
}

section div img{

    width: 100vw;
    height: 100vh;
   
}
section div .items .img{
    width: 303px;
    height: 346px;
}

section div .title{
    height: 90px;

}
section div .items{
    background-color: #e5dede;
    padding: 25px;
}
section div .title2{
    height: 90px;
}

section div .items2 .img{
    width: 313px;
    height: 346px;
    
}
section div .items3 .img{
    width: 310px;
    height: 366px;
}

footer {
    background-color: #eaebec;
    height: 57vh;
    display: flex;
    padding: 45px 115px;;
}



footer .part-1 h4{
    font-size: 13px;
    padding: 38px 0;
    padding-left: 170px;
    text-transform: uppercase;
}
footer .part-1 a{
    text-decoration: none;
    color: #282c3f;
}
footer .part-1 ul li{
    padding-left: 170px;
    list-style: none;    

}

footer .part-1 ul li a{
    text-decoration: none;
    color: #696b79;
    font-size: 13px;
}
footer .part-2 h4{
    font-size: 13px;
    padding: 38px 0;
    padding-left: 50px;
    text-transform: uppercase;
}
footer .part-2 a{
    text-decoration: none;
    color: #282c3f;
}
footer .part-2 ul li{
    list-style: none;    

}

footer .part-2 ul li a{
    padding-left: 50px;
    text-decoration: none;
    color: #696b79;
    font-size: 13px;
}

footer .part-3 h4{
    font-size: 13px;
    padding: 38px 0;
    
    text-transform: uppercase;
}
footer .part-3 a{
    text-decoration: none;
    color: #282c3f;
}
.part-3{
    padding: 0 40px;
}
.part-3 img{
    width: 140px;
}
.part-3 .next-title h5{
    font-size: 13px;
    padding-top: 38px;
    padding-bottom: 10px;
    
    text-transform: uppercase;
}
.part-3 .images img{
    width: 24px;
    margin: 3px;
}

.part-4 .image1{
    display: flex;
    margin: 10px;
}
.part-4 .image1 img{
    width: 50px;
}
.part-4 .image1 h5{
    font-size: 20px;
    padding-left: 13px;
}
.part-4 .image1 p{
    padding-left: 3px;
}
.part-4 .image2{
    display: flex;
    margin: 10px;
}
.part-4 .image2 img{
    width: 50px;
}
.part-4 .image2 h5{
    font-size: 20px;
    padding-left:13px;

}
.part-4 .image2 p{
    padding-left: 3px;
}